body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5312d;
}

.logo {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 1.75rem;
  margin: 1rem;
}

.menu {
  display: flex;
}

.theme-toggle {
  margin: 1rem;
  cursor: pointer;
}

.theme-toggle:hover {
  transition: transform 0.25s ease-in;
  transform: scale(1.15);
}

a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
}
a:hover {
  color: #d5312d;
  background-color: #f2f2f2;
  border-color: #d5312d;
  border-radius: 0.25rem;
  transition: transform 0.25s ease-in;
  transform: scale(1.05);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.25s ease-in-out;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  text-align: center;
}

.card-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.detailLink {
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 0.5rem;
  background-color: #d5312d;
  border-color: #d5312d;
  border-radius: 0.25rem;
}

.favButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #c4c4c4;
  transition: transform 0.3s ease-in-out;
}

.favButton:hover {
  transform: scale(1.2);
}

.remove-all-favs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.remove-all-favs button {
  padding: 1rem;
  color: #d5312d;
  background-color: #f2f2f2;
  border-color: #d5312d;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.remove-all-favs button:hover {
  transform: scale(1.2);
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

p {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

form input:focus {
  outline: none;
  border-color: #333;
}

form button {
  padding: 1rem 2rem;
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

table {
  width: 50%;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

table:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #f2f2f2;
}

td {
  background-color: #ffffff;
}

th:first-child,
td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

th:last-child,
td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
  background-color: #d5312d;
  color: #f2f2f2;
}

footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dark {
  background-color: #0c1d3a;
}

.dark h1 {
  text-align: center;
  color: #c4c4c4;
}

.dark nav {
  background-color: #040c1a;
}

.dark .logo {
  color: #c4c4c4;
}

.dark .menu a {
  color: #c4c4c4;
}

.dark .theme-toggle {
  color: #c4c4c4;
}

.dark a {
  color: #c4c4c4;
}

.dark a:hover {
  color: #d5312d;
  background-color: #c4c4c4;
  border-color: #d5312d;
  border-radius: 0.25rem;
}

.dark .card-grid {
  background-color: #0c1d3a;
}

.dark .card {
  background-color: #1e2f4a;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark .card-content {
  color: #c4c4c4;
}

.dark .detailLink {
  color: #c4c4c4;
  background-color: #040c1a;
  border-color: #c4c4c4;
}

.dark .remove-all-favs button {
  color: #c4c4c4;
  background-color: #1e2f4a;
  border-color: #c4c4c4;
}

.dark h2,
.dark p {
  color: #c4c4c4;
}

.dark form {
  background-color: #1e2f4a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark form label {
  color: #c4c4c4;
}

.dark form input {
  border-color: #c4c4c4;
}

.dark form input:focus {
  border-color: #c4c4c4;
}

.dark form button {
  background-color: #0c1d3a;
  color: #c4c4c4;
}

.dark form button:hover {
  transform: scale(1.05);
}

.dark .detail-container {
  color: #c4c4c4;
}

.dark table {
  background-color: #121212;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark th {
  background-color: #1e2f4a;
  border-color: #1e2f4a;
}

.dark td {
  background-color: #121212;
  border-color: #121212;
}

.dark th:first-child,
.dark td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dark th:last-child,
.dark td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dark footer {
  background-color: #121212;
  color: #c4c4c4;
}
